@use 'normalize';
@use 'base';

@mixin button-style($text-color, $bg-color, $border-color){
    color: $text-color;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

#keyboard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 475px;
}

.keyboard-key{
    @include button-style(#625268, #eef0ef, #877B87);
    text-transform: uppercase;
    width: 40px;
    
    &:hover{
        background-color: #e8e5e6;
    }

    &:active, &.active{
        color: #558479;
        background-color: #deebe7;
        border-color: #87A69D;
        box-shadow: 0px 0px 1px #625268;
        font-weight: bold;
    }

    &:disabled{
        color: #aaa3a8;
        background-color: #f0eef0;
        border-color: #d4cdd4;
    }
}

.letter-tile{
    padding: 10px 20px;
    margin: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    color: #625268;
    background-color: #d5d5d5;
}

#word{
    margin: 10px;
}

#hint{
    margin: 10px;
}
